<div class="footer">
    <div class="left-nav-footer"><a href="#"><i class="material-icons">thumbs_up_down</i><span>User Feedback</span></a></div>
    <div class="left-footer">
            Developed by <a href="" title="" target="_blank">Mr. Ayush</a>
        
        <a href="https://github.com/Ayush5050" target="_blank">
            <img class="wid" src="../../../assets/layout/github icon.png" alt="" matTooltip="Github"
             matTooltipPosition="above">
        </a>
        <a  href="https://www.linkedin.com/in/ayushkumar5050/" target="_blank">
            <img class="wid" src="../../../assets/layout/ln.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
        <a href="https://www.instagram.com/literally_n0_one_/" target="_blank">
            <img class="wid" src="../../../assets/layout/insta.png" alt="" matTooltip="Instagram" matTooltipPosition="above">
        </a>
    </div>
        <div class="right-footer">
            App Version - 9.9.9
        </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">