$base-color: #fff;
$body-color: #F9F9F9;
$transprent-grap-color:rgba(0,0,0,0.2);
$deeplight-blue-color: #C2E2F9;
$light-blue-color: #4FA1D0;
$normal-blue-color: #0076BB;
$active-blue-color: #6AC8FF;
$sub-nav-active-color: #005080;
$subsub-nav-active-color: #002840;
$white-text-color: #fff;
$black-text-color: #555555;
$regular-text-color: #9E9E9E;
$normal-gray: #EFEFEF;
$gray-border-color: #ACACAC;
$active-blue-color: #CFEDFF;
$light-blue-text-color: #6AC8FF;
$dark-red-color: #D7263D;
$normal-red-color: #FF8091;
$light-red-color: #FFCFD5;
$extradark-green-color: #003B1B;
$dark-green-color: #2D8656;
$normal-green-color: #4EC484;
$light-green-color: #7BFFB8;
$light-yellow-color: #FDFEE7;
$normal-yellow-color: #D6D61E;
$normal-yellow-color: #D6D61E;
